<!-- Header  -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand mb-0 h1" href="#">
    <img src="assets/img/logo_company.svg" class="d-inline-block align-top" alt="" loading="lazy">
    {{ page.title }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if site.dminima.contact.slack -%}
      <li class="nav-item">
        <a class="nav-link" href="{{ site.dminima.contact.slack.url }}" role="button">{{ site.dminima.contact.slack.name }}</a>
      </li>
      {%- endif %}
      {% if site.dminima.contact.github -%}
      <li class="nav-item">
        <a class="nav-link" href="{{ site.dminima.contact.github.url }}" role="button">{{ site.dminima.contact.github.name }}</a>
      </li>
      {%- endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 btn-sm" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

</nav>