{% assign child_pages = site.pages | where: 'parent',include.item.title | sort: 'index' %}

{% if child_pages.size > 0 %}
{% for child in child_pages %}
{% assign sub_child_pages = site.pages | where: 'parent',child.title | sort: 'index' %}
{% assign child_slug = child.title | slugify %}
<div class="list-group-item {% if child.title == page.title %}active{% endif %}">
  {% if sub_child_pages.size > 0 %}
  <i href="#menu-{{ child_slug }}" class="list-group-item-link fa fa-caret-down mr-2" data-toggle="collapse"></i>
  {% endif %}
  <a href="{{ child.url }}" class="{% if child.title == page.title %}active{% endif %}">{{- child.title -}}</a>
</div>
{% if sub_child_pages.size > 0 %}
<div id="menu-{{ child_slug }}" class="list-group list-group-flush collapse show">
  {% include nav_recursive.html item=child %}
</div>
{% endif %}
{% endfor %}
{% endif %}
