{% assign child_pages = site.pages | where: 'parent', include.navbar.title | sort: 'index' %}
{% if child_pages.size > 0 %}
<header class="navbar navbar-expand-lg navbar-light position-sticky"><!-- bd-navbar -->
  <a class="navbar-brand mr-0 mr-md-2 {% if include.navbar.logo %}text-hide{% endif %}" href="{{ include.navbar.url }}">
    {%- if include.navbar.logo -%}
    <img src="{{ include.navbar.logo }}" class="d-inline-block align-top" alt="" loading="lazy">
    {%- endif -%}
    {{- include.navbar.title -}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#{{ include.navbar.title | slugify }}"
    aria-controls="{{ include.navbar.title | slugify }}"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="{{ include.navbar.title | slugify }}">

    <ul class="navbar-nav mr-auto">
      {% for child in child_pages %}
      <li class="nav-item {% if child.title == include.current_title %}active{% endif %}">
        <a class="nav-link" href="{{ child.url }}" id="{{ child.title | slugify }}" role="button">
          {{- child.title -}}
          {%- if child.title == include.active -%}
          <span class="sr-only">(current)</span>
          {%- endif -%}
        </a>
      </li>
      {% endfor %}
    </ul>

    {% if include.navbar.search %}
    {% include search-lunr.html %}
    {%- endif -%}

  </div>

</header>
{%- endif -%}
