{% assign navbar_start_title = page.navbar.ref | default: hiearchy_top_navbar.title %}
{% assign navbar_found = false %}
{% assign navbar_depth = page.navbar.depth | default: 1 %}

<!-- Rendering from {{ navbar_start_title }} for {{ navbar_depth }} deep -->
{% for current_navbar in hiearchy_top_down %}
  {% unless !navbar_found or current_navbar.title == navbar_start_title %}
    <!-- Skip {{ current_navbar.title }} -->
    {% continue %}
  {% endunless %}

  {% assign navbar_found = true %}
  {% assign navbar_depth = navbar_depth | minus: 1 %}

  <!-- Found {{ current_navbar.title }} -->
  {% include navbar.html navbar=current_navbar current_title=page.title search_bar=page.search %}

  {% unless navbar_depth > 0 %}
    <!-- Break -->
    {% break %}
  {% endunless %}

{% endfor %}
<!-- Done -->
