<form id="lunrsearchbox" class="form-inline d-flex justify-content-center md-form form-sm mt-0 dropdown">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input id="lunrsearch" class="form-control form-control-sm ml-3 w-75 dropdown-toggle"
    autocomplete="off" spellcheck="false" type="search" placeholder="Search" aria-label="Search"
    name="q" maxlength="255" value="" onkeyup="return lunr_search(this.value);"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
  <div id="lunrsearchresults" class="dropdown-menu dropdown-menu-right p-2 m-2" aria-labelledby="lunrsearchbox">
    <p class='text-muted p-2 m-2'>No results found...</p>
  </div>
</form>
