{% assign temp_page = page %}
{% assign site_hiearchy = "" | split: "" %}
{% assign site_hiearchy = site_hiearchy | push: temp_page %}

<!-- Starting with "{{ temp_page.title }}" -->
{% for i in (0..10) %}
  {% if temp_page.parent == nil %}
    <!-- No further parent page found exiting... -->
    {% break %}
  {% endif %}
  
  <!-- Finding "{{ temp_page.title }}" parent named "{{ temp_page.parent }}" -->
  {% assign temp_page = site.pages | where: 'title', temp_page.parent | first %}

  <!-- Found: "{{ temp_page.title }}" -->
  {% assign site_hiearchy = site_hiearchy | push: temp_page %}
{% endfor %}
{% assign site_hiearchy = site_hiearchy | reverse %}
