$font-path: "../webfonts";
$fa-font-path: $font-path;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@font-face {
  font-family: 'Cascadia Code PL';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('#{$font-path}/CascadiaCodePL.woff2') format('woff2'),
  url('#{$font-path}/CascadiaCodePL.ttf') format('truetype');
}