//$enable-gradients: true;
//$enable-shadows: true;

/* Layout debugger
    header {background-color: #FF80A0;}
    #left-nav {background-color: #FFA080;}
    #right-nav {background-color: #A0FF80;}
    #presentation {background-color: #A080FF;}
    #content-nav {background-color: #80A0FF;}
    #main {background-color: #A0FFFF;}
    footer {background-color: #FFFFA0;}
*/
